
#bubble {
  visibility: hidden;
  min-width: 250px;
  max-width: 300px;
  margin-left: -125px;
  background-color: #e2e2e2;
  color: #000;
  text-align: left;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  border: 1px solid #cacaca;
  z-index: 1;
  left: 10%;
  bottom: 30px;
  font-size: 12px;
  font-family: 'Arial';
  cursor: pointer;
}

#bubble.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
